src/eventLoop.vo
test.vo
src/_build/io.vo.h
src/_build/main.vo.c
src/_build/compiler/analyzer.vo.h
src/_build/compiler/ast.vo.h
src/_build/compiler/compiler.vo.h
src/_build/compiler/deepcopy.vo.h
src/_build/compiler/io.vo.h
src/_build/compiler/lexer.vo.h
src/_build/compiler/math.vo.h
src/_build/compiler/mem.vo.h
src/_build/compiler/names.vo.h
src/_build/compiler/num.vo.h
src/_build/compiler/parser.vo.h
src/_build/compiler/symbols.vo.h
src/_build/compiler/tokens.vo.h
src/_build/compiler/util.vo.h
src/a.out
a.out
test.c
test1.c
